
<% include partials/header.ejs %>

<h1>The Landing Page</h1>

<h4>Welcome to our movie recommendation page!</h4>

<a href = "/movies">View people's favorite movies</a>


<% include partials/footer.ejs %>
