<% include partials/header.ejs %>

<form action="/movies" method="POST">
    <input type="text" placeholder="name" name="movieName">
    <input type="text" placeholder="imgURL" name="imgURL">
    <button>Submit</button>
</form>

<% include partials/footer.ejs %>
